# Ignore everything
/*
/*/

# Except git files
!.gitignore
!.gitattributes
!README.md

# Except data folders
!/Assets/
!/Packages/
!/ProjectSettings/

# Ignore meta files for folders
#*.meta
#!*.*.meta